
body {
  background-color: #f0f0f0;
  max-width: 90vw;
  max-height: 90vh;
}

.pointer {
  cursor: pointer;
}

.exedback {
  background-color: #808000;
}

.attdback {
  background-color: #800000;
}

.gdback {
  background-color: #0000ff;
}


#main {
  position: relative;
}

#agenttable {
  margin: 0.5rem;
  max-height: 40vh;
}

#infoconsole {
  margin: 0.5rem;
  max-height: 40vh;
}

#network {
  position: fixed;
  top: 0;
}
